@use "sass:map";

@use "../abstracts/variables";
@use "../abstracts/tokens";
@use "../abstracts/functions" as *;

@layer layouts {
	.cluster {
		display: flex;
		flex-wrap: wrap;

		@each $key in map.keys(variables.$spaces) {
			$selector: '&[data-space="#{$key}"]';

			@if (tokens.$space == space($key)) {
				$selector: "&, #{$selector}";
			}

			#{$selector} {
				gap: space("#{$key}");
			}
		}
	}
}
