@use "sass:map";

@use "../abstracts/variables";
@use "../abstracts/tokens";
@use "../abstracts/functions" as *;

@layer layouts {
	.grid {
		--grid-min: 250px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min), 100%), 1fr));

		@each $key in map.keys(variables.$spaces) {
			$selector: '&[data-space="#{$key}"]';

			@if (tokens.$space == space($key)) {
				$selector: "&, #{$selector}";
			}

			#{$selector} {
				gap: space("#{$key}");
			}
		}
	}
}
