@layer layouts {
	.imposter {
		position: absolute;
		inset-block-start: 50%;
		inset-inline-start: 50%;
		transform: translate(-50%, -50%);

		&[data-fixed="true"] {
			position: fixed;
		}

		&[data-contain="true"] {
			overflow: auto;
			max-inline-size: var(--imposter-max-width, 100%);
			max-block-size: var(--imposter-max-height, 100%);
		}
	}
}
