$font-path: "/fonts" !default;

@layer base {
	@font-face {
		font-family: "Space Grotesk";
		font-weight: 300 700;
		font-style: normal;
		font-display: swap;
		src: url("#{$font-path}/SpaceGrotesk/SpaceGrotesk-Variable.ttf") format("truetype");
	}

	@font-face {
		font-family: "Rubik";
		font-weight: 300 900;
		font-style: normal;
		font-display: swap;
		src: url("#{$font-path}/Rubik/Rubik-Variable.ttf") format("truetype");
	}

	@font-face {
		font-family: "JetBrains Mono";
		font-weight: 100 800;
		font-style: normal;
		font-display: swap;
		src: url("#{$font-path}/JetBrainsMono/JetBrainsMono-Variable.ttf") format("truetype");
	}
}
