$font-path: "/fonts" !default;

$weights: (
	"100": "Thin",
	"200": "ExtraLight",
	"300": "Light",
	"400": "Regular",
	"500": "Medium",
	"600": "SemiBold",
	"700": "Bold",
	"800": "ExtraBold",
	"900": "Black",
);

@layer base {
	@each $key, $value in $weights {
		// sans
		@font-face {
			font-family: "DM Sans";
			font-weight: #{$key};
			font-display: swap;
			src: url("#{$font-path}/DMSans/static/DMSans-#{$value}.ttf") format("truetype");
		}

		// serif
		@font-face {
			font-family: "Poppins";
			font-weight: #{$key};
			font-display: swap;
			src: url("#{$font-path}/Poppins/Poppins-#{$value}.ttf") format("truetype");
		}

		// mono
		@font-face {
			font-family: "IBM Plex Mono";
			font-weight: #{$key};
			font-display: swap;
			src: url("#{$font-path}/IBMPlexMono/IBMPlexMono-#{$value}.ttf") format("truetype");
		}
	}
}
